* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.button-head{
    border-style: none;
    cursor:pointer;
    background-color: white;
}

.logo-he{
    height: 5em;
}
.flex-center{
    display: flex;
    justify-content: center;
}

#flex-container-header{
    margin: 0 auto;
    height:8em;

    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#link-header {
    display: flex;
    list-style: none;
    gap: 5em;
}

