* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

main{
    text-align:center;
    width:80%;
    margin:50px auto;
}

a{
    text-decoration: none;
}

main img{
    width: 120px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer{
    color: white;
    background-color: #475949;
    text-align: center;
    font-size: small;
    width: 100%;
    height: 40px;
    margin: 0 auto;

    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    padding: 10px;
    font-size: smaller;
}
 
/* class i*/

.button-head{
    border-style: none;
    cursor:pointer;
    background-color: #475949;
    color: white;
}

.bg-red{
    background-color: red;
}

.logo-he{
    height: 5em;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.h1{
    margin:2em;
    color:#D9306E;
    font-size: 40px;
}

.flex-pag{
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-par{
    
    text-align:left;

    display:flex;
    justify-content: flex-start;

}

.flex-te{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:15px;

}

.bg-blue{
    color:white;
    background-color: #08080D;
    width: 30%;    
    box-shadow: 10px 5px 20px #475949;
    border-radius: 5px;

    min-width: 350px;
    max-width: 600px;
}

.color-blue{
    color:#67c8ee;
}

/* ID */

#flex-container-header{
    margin: 0 auto;
    height:6em;
    background-color: #475949;
    box-shadow: -2px 2px 8px 9px #475949;

    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#link-header {
    display: flex;
    list-style: none;
    gap: 5em;
}

#top-text{
    padding-bottom: 20px;
}
