* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

main{
    text-align:center;
    width:80%;
    margin:50px auto;
}

.button-head{
    border-style: none;
    cursor:pointer;
    background-color: white;
}

a{
    text-decoration: none;
}

main img{
    width: 150px;
}

.bg-red{
    background-color: red;
}

.logo-he{
    height: 5em;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.h1{
    margin:2em;
    color:#D9306E;
    font-weight: bolder;
}

.flex-pag{
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-par{
    text-align:left
}

.flex-te{
    text-align: right;
}

.bg-blue{
    color:white;
    background-color: #08080D;
    height: 150px;
}

.color-blue{
    color:#67c8ee;
}
#flex-container-header{
    margin: 0 auto;
    height:8em;

    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#link-header {
    display: flex;
    list-style: none;
    gap: 5em;
}

